#head
{
    position: fixed;
    width : 100%;
    display: flex;
    height : 80px;
    background: rgba(0, 0, 0,0.3);
}
body
{
    margin : 0 0 0 0
}
#logo
{
    margin-left : 10%;
    rotate: 25deg;
    margin-top: auto;
    margin-bottom : auto;
    width : 70px;
    height : 70px;
}
#list li
{
    font-family: Arial , Helvetica, sans-serif;
    cursor: pointer;
}
#list
{
    font-family: Arial , sans-serif;
    gap : 60px;
    margin-left: 13%;
    margin-bottom: auto;
    margin-top: auto;
    width : 750px;
    display: inline-flex;
    color: #FFFFFF;
    font-size: 19px;
    list-style-type: none;
}
#lang_change
{
    margin-left : 2%;
    color: #FFFFFF;
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer;
    font-size: 21px;
}
#head a
{
    margin-left : 1%;
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer
}
#insta > img
{
    margin-left: 3%;
    width : 48px;
    height : 48px;
}
#telega > img
{
    margin-left: 2%;
    width : 43px;
    height : 43px;
}
#start
{
    background-size: cover;
    height : 900px;
    background-image: url("mountain.jpg");
}


