body {
    margin:0;
    font-family: 'Philosopher', sans-serif;
}

#head {
    display:flex;
    height:70px;
    width:100%;
    position:fixed;
    background-color:rgba(0, 0, 0, 0.452);
    z-index:1;
}

#logo {
    cursor:pointer;
    margin-left:10%;
    rotate:25deg;
    width:65px;
    height:65px;
    margin-top:auto;
    margin-bottom:auto;
}

#list li {
    transition:all .3s ease-in-out;
    cursor:pointer;
}

#list {
    text-align:center;
    display:flex;
    gap:20px;
    list-style-type: none;
    font-size:18px;
    color:white;
    align-items:center;
    justify-content:space-evenly;
    width:700px;
    margin-left:8%;
    margin-bottom:auto;
    margin-top:auto;
}

#lang_change {
    margin-left:10%;
    color:white;
    margin-bottom:auto;
    margin-top:auto;
    cursor:pointer;
    font-size:22px;
}

#head a {
    margin-left:1%;
    margin-bottom:auto;
    margin-top:auto;
    cursor:pointer;
}

#insta > img {
    margin-left:20%;
    width:48px;
    height:48px;
}

#telega > img {
    margin-left:2%;
    width:48px;
    height:48px;
}

#list li:hover
{
    font-size: 24px;
}

#row1 {
    display:flex;
}

#row2 {
    margin-top:-3px;
    display:flex;
}

#chto {
    color:black;
    background-color:#ffa205;
    padding-left:16%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
    height:450px;
    width:719px;
    cursor:context-menu;
    box-sizing:border-box;
}

#otzyvy{
    color:black;
    background-color:#94d2bd;
    width:719px;
    height:450px;
    padding-right:10%;
    padding-left:16%;
    padding-top:8%;
    padding-bottom:5%;
    box-sizing:border-box;
    cursor:context-menu;
}

#persons {
    position:absolute;
    left:719px;
    background-color:#bb3e03;
    height:450px;
    width:100%;
}

#scroll {
    max-width:800px;
    margin:auto;
}

#scroller {
    overflow-x:scroll;
    display:flex;
    scroll-snap-type:x mandatory;
}

#p1, #p2, #p3 {
    display:flex;
    min-width:100%;
    min-height:200px;
    background-color:#EDF2F7;
    scroll-snap-align:center;
}

#img1 > img, #img2 > img, #img3 > img {
    width:200px;
}