body {
    margin:0;
    font-family: 'Philosopher', sans-serif;
}

#head {
    display:flex;
    height:70px;
    width:100%;
    position:fixed;
    background-color:rgba(0, 0, 0, 0.452);
    z-index:1;
}

#logo {
    cursor:pointer;
    margin-left:10%;
    rotate:25deg;
    width:65px;
    height:65px;
    margin-top:auto;
    margin-bottom:auto;
}

#list li {
    transition:all .3s ease-in-out;
    cursor:pointer;
}

#list {
    text-align:center;
    display:flex;
    gap:20px;
    list-style-type: none;
    font-size:18px;
    color:white;
    align-items:center;
    justify-content:space-evenly;
    width:700px;
    margin-left:8%;
    margin-bottom:auto;
    margin-top:auto;
}

#lang_change {
    margin-left:10%;
    color:white;
    margin-bottom:auto;
    margin-top:auto;
    cursor:pointer;
    font-size:22px;
}

#head a {
    margin-left:1%;
    margin-bottom:auto;
    margin-top:auto;
    cursor:pointer;
}

#insta > img {
    margin-left:20%;
    width:48px;
    height:48px;
}

#telega > img {
    margin-left:2%;
    width:48px;
    height:48px;
}

#list li:hover
{
    font-size: 24px;
}

#row1 {
    display:flex;
}

#chto {
    color:black;
    width:44%;
    height:331px;
    padding-left:14%;
    padding-right:4%;
    padding-top:5%;
    background-color:#ffa205;
}

#row2
{
    margin-top:-3px;
    display:flex;
}

#otzyvy
{
    color:black;
    width:25%;
    height:331px;
    padding-left:14%;
    padding-right:4%;
    padding-top:5%;
    background-color:rgb(0, 155, 207);
}