body
{
    margin: 0;
    font-family: 'Philosopher', sans-serif;
}
#starting
{
    margin: 0;
    height : 700px;
    background-image: url("../Nurbol_files/Nurbol images/nature.jpg");
    background-size: cover;
}
#mesyac
{
    font-weight: bolder;
    display: flex;
    margin: 0;
    background-color: rgb(1, 25, 31);
    height : 80px;
    justify-content: space-evenly;
    font-size: 25px;
    color: white;
    list-style-type: none;
}
#mesyac li
{
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer;
}
#parts
{
    height : 850px;
    background-color: rgb(20, 102, 169);;
}
#big_bro
{
    padding-top: 60px;
    justify-content: space-around;
    display: flex;
    margin: auto auto;
    width : 75%;
}
#left
{
    color: white;
    display: block;
    width : 50%
}
#naming
{
    height : 15%;
    margin: 0;
}
#right
{
    color: white;
    display: block;
    width : 40%;
}
#pikcha
{
    margin-top: 20px;
    object-fit: cover;
    width : 100%;
    height : 350px;
}
#wanted
{
    cursor: pointer;
    transition: all .25s ease-in-out;
    font-size: 17px;
    font-weight: bolder;
    border: none;
    border-radius: 40px;
    width : 75%;
    height : 9%;
    color: white;
    background-color: #001219;
}
#wanted:hover
{
    background-color: #ffa205;
}
#right h1
{
    margin-top: 30px;
    color : rgb(232 , 138 , 7);
}
#descr
{
    font-weight: lighter;
    display: inline;
    font-size: 23px;
    width : 100%;
    list-style-type: none;
}
#descr li
{
    line-height: 22px;
    margin: 0;
}
#descr li + li
{
    margin-top: 15px;
}