#head
{
    z-index: 1;
    position: fixed;
    width : 100%;
    display: flex;
    height : 70px;
    background: rgba(0, 0, 0, 0.452);
}
body
{
    margin: 0;
    font-family: 'Philosopher', sans-serif;
}
#logo
{
    cursor: pointer;
    margin-left : 10%;
    rotate: 25deg;
    margin-top: auto;
    margin-bottom : auto;
    width : 65px;
    height : 65px;
}
#list li
{
    transition: all .3s ease-in-out;
    cursor: pointer;
}
#list
{
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 8%;
    margin-bottom: auto;
    margin-top: auto;
    width : 700px;
    display: flex;
    color: #FFFFFF;
    font-size: 18px;
    list-style-type: none;
}
#lang_change
{
    margin-left : 10%;
    color: #FFFFFF;
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer;
    font-size: 22px;
}
#head a
{
    margin-left : 1%;
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer
}
#insta > img
{
    margin-left: 20%;
    width : 48px;
    height : 48px;
}
#telega > img
{
    margin-left: 2%;
    width : 43px;
    height : 43px;
}
#back
{
    background-color: grey;
    background-blend-mode: darken;
    background-size: cover;
    height : 900px;
    background-image: url("Nurbol images/mountain.jpg");
}
#tat > h1
{
    letter-spacing: -0.5px;
    font-weight: bold;
    margin: -10px 0 -10px 0;
    font-size : 90px;
    color: #FFFFFF
}
#list li:hover
{
    font-size: 24px;
}
#tat
{
    padding-top : 200px;
    height : 700px;
    width : 62%;
    margin : auto auto
}
#tat > h3
{
    font-size: 25px;
    padding : 25px 0 25px 0;
    color: #FFFFFF;
}
#letsgo
{
    margin: 0;
    font-weight: bolder;
    transition: all .35s ease-in-out;
    cursor: pointer;
    border-radius: 40px;
    font-size: 20px;
    width : 24%;
    height : 8%;
    border : none;
    background-color: #ffa205;
    color: #FFFFFF;
    font-family: 'Philosopher', sans-serif;
}
#letsgo:hover
{
    background-color: rgba(0, 0, 0, 0.84);
}
#legenda
{
    margin-top: -220px;
    float: right;
    width : 20%;
    height : 40%;
}
#double
{
    display: flex;
    height : 900px;
}
#island
{
    object-fit: cover;
    width : 45%;
    height : 100%;
}
#text
{
    width : 80%;
    height : 85%;
    padding-top : 100px;
    padding-left : 60px;
}
#part
{
    display: block;
    width : 55%;
    background-color: rgb(20,130,132);
}
#text > h1
{
    font-weight: bolder;
    margin: 0;
    font-size: 40px;
    color: rgb(232,138,7);
}
#text > ul
{
    padding-left: 22px;
    margin-top : 10%;
    width : 80%;
    font-size: 25px;
    color: #FFFFFF;
}
#text li
{
    line-height: 30px;
}
#text li + li
{
    margin-top: 10px;
}
#class_hochu
{
    transition: all .35s ease-in-out;
    color : white;
    background-color: rgb(217, 46, 4);
    font-size: 19px;
    font-weight: bolder;
    cursor: pointer;
    border-radius : 40px;
    border: none;
    margin-top : 7%;
    width : 25%;
    height : 7%;
}
#class_hochu:hover
{
    background-color: rgba(0, 0, 0, 0.84);
}
#back_months
{
    height : 150px;
    background-color: rgb(4, 23, 30);
}



