#aboutus_1{
    width: 100%;
    height: 600px;
    display: flex;
}
#aboutus_1_img
{
    width: 48%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;

}
#aboutus_1_text
{
    width: 52%;
    background-color: #0a9596;
    padding-top: 40px;
    padding-left: 90px;
    padding-right:100px;
    text-align: left;
}
#aboutus_1_text p
{
    font-size: 44px;
    color: white;
    font-family: 'Philosopher', sans-serif;
}
#aboutus_1_text h2
{
    font-size: 17px;
    font-family: 'Philosopher', sans-serif;
}
#aboutus_2
{
    background-color: #001219;
    width: 100%;
    height: 360px;
    padding-top: 100px;
}
#aboutus_2_check{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.aboutus_2_text{
    width: 220px;
    font-family: 'Philosopher', sans-serif;

}
.aboutus_2_text p{
    color: #e9d8a6;
    font-size: 21px;
}
.aboutus_2_text h2{
    color: #ffffff;
    font-size: 14px;
}
.aboutus_2_text h3{
    color: #94d2bd;
    font-size: 16px;
}
.aboutus_2_text h3:hover{
    font-size: 18px;
}
.aboutus_2_img{
    width: 270px;

}

.aboutus_2_img img{
    width: 190px;
    height: 250px;

}
#aboutus_3{
    background-color: #94d2bd;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
hr{
    margin: 0;
    width: 70%;
    margin-left: 15%;
    border: 0.5px solid white;
    size: 1px;
}
.aboutus_3_main{
    margin-left: 15%;
}
#aboutus_3_main_radius1{
    border-radius: 50%;
    background-color: rgb(10, 147, 150);
    text-align: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#aboutus_3_main_radius11 {
    content: "\002B";
    color: white;
    font-size: 40px;
}
#aboutus_3_main_radius2{
    border-radius: 50%;
    background-color: rgb(10, 147, 150);
    text-align: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#aboutus_3_main_radius21 {
    content: "\002B";
    color: white;
    font-size: 40px;
}
#aboutus_3_main_radius4{
    border-radius: 50%;
    background-color: rgb(10, 147, 150);
    text-align: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#aboutus_3_main_radius41 {
    content: "\002B";
    color: white;
    font-size: 40px;
}
#aboutus_3_main_radius3{
    border-radius: 50%;
    background-color: rgb(10, 147, 150);
    text-align: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#aboutus_3_main_radius5{
    border-radius: 50%;
    background-color: rgb(10, 147, 150);
    text-align: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#aboutus_3_main_radius51 {
    content: "\002B";
    color: white;
    font-size: 40px;
}
#aboutus_3_main_radius6{
    border-radius: 50%;
    background-color: rgb(10, 147, 150);
    text-align: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#aboutus_3_main_radius61 {
    content: "\002B";
    color: white;
    font-size: 40px;
}
#aboutus_3_main_radius7{
    border-radius: 50%;
    background-color: rgb(10, 147, 150);
    text-align: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#aboutus_3_main_radius71 {
    content: "\002B";
    color: white;
    font-size: 40px;
}
#aboutus_3_main_radius8{
    border-radius: 50%;
    background-color: rgb(10, 147, 150);
    text-align: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#aboutus_3_main_radius81 {
    content: "\002B";
    color: white;
    font-size: 40px;
}
#aboutus_3_main_radius9{
    border-radius: 50%;
    background-color: rgb(10, 147, 150);
    text-align: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#aboutus_3_main_radius91 {
    content: "\002B";
    color: white;
    font-size: 40px;
}
#aboutus_3_main_radius31 {
    content: "\002B";
    color: white;
    font-size: 40px;
}
.expanded{
    width: 80%;
    font-size: 10px;
    display: none;
}
.expanded h1{
    font-size: 17px;
    font-family: 'Philosopher', sans-serif;
}
#scrr
{
    display: none;
    right : 20px;
    bottom : 10px;
    position: fixed;
    height : 7%;
    cursor: pointer;

}

