#scrra
{
    display: none;
    right : 20px;
    bottom : 10px;
    position: fixed;
    height : 7%;
    cursor: pointer;

}
#contact_1{
    border: 0.1px solid transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) , url("../Damir files/Damir images/damir-babacic-kOO1g6.jpeg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: 800px;
    text-align: center;
    margin: auto auto;
}
input::placeholder{
    font-size: 20px;
}
input{
    border: 1px solid black;
    outline: none;
    padding-left: 20px;
}


